body{
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    color: #FFFFFF;
    height: 150px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  header h1 {
    font-size: 3em;
    font-weight: bold;
    margin-right: 70px;
  }
  
  header img.logo {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
  }
  
  .fa-shopping-cart {
    font-size: 3em; /* Ajusta el tamaño del icono a tu gusto */
    color: #fff; /* Color del icono (blanco en este caso) */
    border-radius: 50%; /* Redondea las esquinas del icono */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Agrega una sombra */
    background-color: #000; /* Color de fondo del botón (negro en este caso) */
    padding: 0.3em; /* Ajusta el espacio interno del botón a tu gusto */
    margin-right: 1em; /* Ajusta el margen derecho a tu gusto */\ 
  }

  header a {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  header a:hover {
    text-decoration: underline;
  }

  #Header-img{
    width: 150px;
  }