body{
    margin: 0px;
}

header {
    background-color: red;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .palmerozky {
    color: white;
    font-size: 32px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .palmerozky:hover {
    text-decoration: underline;
  }
  
  .fa-shopping-cart {
    font-size: 24px;
    color: white;
    margin-left: 10px;
  }
  
  .fa-shopping-cart:hover {
    color: black;
  }

  #Header-img{
    width: 100px;
  }